// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


// My colors
$coral: #F58673;
$egg: #EEEBD0;
$pink: #EBB3A9;
$light-blue: #B8D8D8;
$light-navy: #7A9E9F;
$grey: #C4C4C4;
