.post-show-container {
  padding-top: 30px;

  .post-info {
    font-size: 12px;
    font-family: $headers-font;
    margin-top: 10px;
  }

  .post-content {
    padding-top: 20px;
    line-height: 30px;
  }



  .post-author {
    a {
     color: $light-navy;
      &:hover {
        text-decoration: none;
        color: $light-navy;
      }
    }

  }
}

