<div class="page-center">

  <div class="big-txt">Words are powerful <strong class="dot big">.</strong></div>
  <div class="secondary-txt">
    Read or share, you can do it all here.
  </div>
  <div class="button-container">
    <%= link_to 'Join', new_user_registration_path, class: "my-btn" %>
  </div>

</div>


