/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $light-navy;
  opacity: 0.8;
}
.alert-warning {
  background: $coral;
  opacity: 0.8;
}
