.my-navbar {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // border-bottom: 1px solid $grey;
  transition: all 0.3s ease;
  background-color: white;
  z-index: 100;
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top:0px
}

.navbar-logo img {
  height: 50px;
}


.my-navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

.my-navbar-link {
  color: $light-navy;
  font-size: 14px;
}
.my-navbar-link:hover {
  color: #da552f;
  text-decoration: none;
}


