.primary-txt-grey {
  font-size: 25px;
  color: $light-navy;
}

.primary-txt {
  font-size: 30px;
}

.big-txt {
  font-size: 50px;
  color: $text-color;
}

.text-grey {
  color: rgba(0,0,0,0.5)
}

.underline {
  text-decoration: underline $light-blue;

}

.dot {
  color: $coral;
  font-size: 70px;
}
