.primary-txt-grey {
  font-size: 25px;
  color: $light-navy;
}

.primary-txt {
  font-size: 30px;
}

.secondary-txt {
  font-family: $headers-font;
  font-size: 20px;
  font-weight: 100;
}

.big-txt {
  font-size: 50px;
  color: $text-color;
}

.text-grey {
  color: rgba(0,0,0,0.5)
}

.underline {
  text-decoration: underline $light-blue;

}

.dot {
  color: $coral;
  font-size: 80px;
}

.big {
  font-size: 100px;
}
